{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="stack2">
      </div>
      <img src="{{ url_for('static', filename='images/countymarket.png') }}" class = "businesslogo" style = "border: 3px solid #000">
      <div class="text-center">
      <p><a class="btn btn-dark" href="{{ url_for('family_personal') }}" style="width: 60%; margin: 20px 0px 0px 0px">Change logo</a></p>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="stack2">
      </div>
      <p style = "margin: 20px 0px 40px 20px; font-size: 55px"><b><font color = "red">Welcome,</font><br> Country Market</b></p>
    </div>
  </div>
    <h2 style = "margin: 50px 0px 20px 0px">Coupons redeemed:</h2>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th></th>
                <th>8 points</th>
                <th>12 points</th>
                <th>16 points</th>
                <th>20 points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Coupon value</td>
                <td>20</td>
                <td>32</td>
                <td>17</td>
                <td>5</td>
                <td><a class="btn btn-primary" href="{{ url_for('edit_coupons') }}" >Edit my coupons</a></td>
            </tr>
        </tbody>
    </table>

    <h2 style = "margin: 50px 0px 20px 0px">Coupon History</h2>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Coupon ID</th>
                <th>Date Redeemed</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cd9dea50-c5520-4f98-8d7c-61865d97df4d</td>
                <td>2018-09-30</td>
                <td>12 points</td>
            </tr>
            <tr>
                <td>0ac8ae4b-0b73-4969-a11e-7b691312c4a2</td>
                <td>2018-11-04</td>
                <td>16 points</td>
            </tr>
            <tr>
                <td>580e8f38-0c52-4462-8dbb-8612eba9c5fe</td>
                <td>2018-11-05</td>
                <td>8 points</td>
            </tr>
            <tr>
                <td>b5a8710b-4cf1-45f1-878d-9c6c30eecd8c</td>
                <td>2018-12-05</td>
                <td>8 points</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
