{% extends "base.html" %}

{% block content %}
    <div class="container">
      <div class="row">
      	<div class="col-lg-4 col-md-4 col-sm-12">
      		<div class="stack2">
      		</div>
      		<img src="{{ url_for('static', filename='images/default.png') }}" class = "businesslogo" style = "border: 3px solid #000">
      		<div class="text-center">
      		<p><a class="btn btn-dark" href="{{ url_for('family_personal') }}" style="width: 60%; margin: 20px 0px 0px 0px">Upload Image</a></p>
      		</div>
      	</div>
      	<div class="col-lg-8 col-md-8 col-sm-12">
      		<div class="stack2">
      		</div>
      		<p style = "margin: 20px 0px 40px 20px; font-size: 55px"><b><font color = "red">Good morning,</font><br> Jayden Smith</b></p>
          <p style = "margin: 20px 0px 40px 20px; font-size: 30px">My Bill: $22 <a class="btn btn-primary" href="{{ url_for('student_personal') }}" style="margin: 0px 0px 0px 20px">Pay Bill</a></p>
      	</div>
      </div>
      <h2 style = "margin: 50px 0px 20px 0px">My Appointments</h2>
      <table class="table table-hover table-responsive">
          <thead>
              <tr>
                  <th>Subject</th>
                  <th>Time</th>
                  <th>Rewards &ensp;</th>
                  <th>Description</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Math</td>
                  <td>Mar. 19, 5:00pm - 8:00pm</td>
                  <td>12 points/hr</td>
                  <td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
                  <td><a class="btn btn-primary" href="{{ url_for('canvas') }}" >Enter classroom</a></td>
              </tr>
          </tbody>
      </table>
      <h2 style = "margin: 50px 0px 20px 0px">Pending appointments</h2>
    	<table class="table table-hover table-responsive" id="pendingRequests">
    			<thead>
    					<tr>
    							<th>Subject</th>
    							<th>Time</th>
    							<th>Rewards &ensp;</th>
    							<th>Description</th>
    							<th></th>
                  <th></th>
    					</tr>
    			</thead>
    			<tbody>
    					<tr>
    							<td>Math</td>
    							<td>Mar. 19, 5:00pm - 8:00pm</td>
    							<td>12 points/hr</td>
    							<td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
    							<td><a class="btn btn-primary" href="{{ url_for('family_personal') }}" >Edit offer</a></td>
                  <td><a class="btn btn-primary" href="{{ url_for('view_applicants') }}" >View applicants</a></td>
    					</tr>
    			</tbody>
    	</table>

        <div class="request-form2">
            <form class="form-group" action="" method="">
                <h2 style = "margin: 15px 0px 20px 0px">Create new appointment</h2>
                <div class="form-group">
                    <label for="classSubject">Class Subject: </label>
                    <input type="text" class="form-control" id="classSubject" name="classSubject" placeholder="Subject for the class" />

                    <label for="preferredDate">Preferred Date: </label>
                    <input type="date" class="form-control" id="preferredDate" name="preferredDate" />

                    <label for="preferredHours">Preferred Hours: </label>
                    <input type="time" class="form-control" id="preferredHours" name="preferredHours" />

                    <label>Pricing: </label> <br />
                    <div class="form-control">
                        <label class="radio-inline"><input type="radio" name="pricing" value="8">$8</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="12">$12</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="16">$16</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="20">$20</label>
                    </div>

                    <label for="description">Description: </label>
                    <input type="textarea" class="form-control" id="description" name="description" />
                </div>
                <div class="btn btn-primary" onclick="addrequest()">Submit</div>
            </form>
        </div>

        <h2 style = "margin: 50px 0px 20px 0px">Appointment history</h2>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Pricing</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>Mar. 19, 5:00pm - 8:00pm</td>
                    <td>$12</td>
                    <td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
