{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Jayden Smith</h1>
        <h2>Class Appointments</h2>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Pricing</th>
                    <th>Description</th>
                    <th>Classroom Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>Mar. 19, 5:00pm - 8:00pm</td>
                    <td>$12</td>
                    <td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
                    <td><a class="btn btn-primary" href="{{ url_for('canvas') }}">Classroom</a></td>
                </tr>
            </tbody>
        </table>

        <h2>Pending Requests</h2>
        <table class="table table-hover table-responsive" id="pendingRequests">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Proposed Time</th>
                    <th>Pricing</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>2019-03-19, 17:00</td>
                    <td>$16</td>
                    <td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
                </tr>
            </tbody>
        </table>

        <div class="request-form">
            <form class="form-group" action="" method="">
                <h3>Create New Teaching Request</h3>
                <div class="form-group">
                    <label for="classSubject">Class Subject: </label>
                    <input type="text" class="form-control" id="classSubject" name="classSubject" placeholder="Subject for the class" />

                    <label for="preferredDate">Preferred Date: </label>
                    <input type="date" class="form-control" id="preferredDate" name="preferredDate" />

                    <label for="preferredHours">Preferred Hours: </label>
                    <input type="time" class="form-control" id="preferredHours" name="preferredHours" />

                    <label>Pricing: </label> <br />
                    <div class="form-control">
                        <label class="radio-inline"><input type="radio" name="pricing" value="8">$8</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="12">$12</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="16">$16</label>
                        <label class="radio-inline"><input type="radio" name="pricing" value="20">$20</label>
                    </div>

                    <label for="description">Description: </label>
                    <input type="textarea" class="form-control" id="description" name="description" />
                </div>
                <div class="btn btn-primary" onclick="addrequest()">Submit</div>
            </form>
        </div>

        <h2>Appointment History</h2>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Pricing</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>Mar. 19, 5:00pm - 8:00pm</td>
                    <td>$12</td>
                    <td>My child is confused about the concept of solving equations. I wish someone can help him with his homework questions. Thanks!</td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
