{% extends "base.html" %}

{% block content %}
	<header class="header" style="background-image: url({{ url_for('static', filename='images/tempbg.png') }})">
		<div class="row">
			<div class="description ">
			<h1 class="text-center">CUConnect</h1>
			<p class="text-center">Integrating education with the community</p>
			</div>
		</div>
	</header>
	<header class="header2">
		<div class="row" style = "margin-right: 0px">
			<div class="mission" style="max-width:70%">
			<h1 class="text-center">Our Mission</h1>
			<p class="text-center">We aim to create a platform used to bring the community of Urbana-Champaign into a mutually beneficial and self-sustaining relationship.
			Using our cutting-edge interactive educational tool CANVAS<sup>TM</sup>, we provide an abundance of part-time jobs for talent at University of Illinois Urbana-Champaign to act as affordable tutors for local families,
		  while families reward them for their effort by paying for coupons to be used in various local businesses to boost the economy. </p>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class = "col-lg-4 col-md-4 col-sm-12 student-bg" onmouseover="changestudent()">
				<br>
				<img src="{{ url_for('static', filename='images/university_student.png') }}" width = "120" height = "120" style = "display: block; margin: 0 auto; ">
				<br>
				<p class="text-center" style = "font-size: 20px">UofI students</p>
				<br>
			</div>
			<div class = "col-lg-4 col-md-4 col-sm-12 family-bg" onmouseover="changefamily()">
				<br>
				<img src="{{ url_for('static', filename='images/family.png') }}" width = "120" height = "120" style = "display: block; margin: 0 auto;">
				<br>
				<p class="text-center" style = "font-size: 20px">Chambana families</p>
				<br>
			</div>
			<div class = "col-lg-4 col-md-4 col-sm-12 business-bg" onmouseover="changebusiness()">
				<br>
				<img src="{{ url_for('static', filename='images/businessman.png') }}" width = "120" height = "120" style = "display: block; margin: 0 auto;" >
				<br>
				<p class="text-center" style = "font-size: 20px">Local businesses</p>
				<br>
			</div>
		</div>
	</div>

	<div class="container demoHeight">
		<!-- Student demo -->
		<div class="demobg row" id="studentDemo">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="student">
					<p style = "font-size: 30px; margin:0px 20px 0px 20px; font-weight: bold">Having difficulties finding an on-campus job?</p>
					<p style = "font-size: 20px; margin:20px 20px 20px 20px;">Become a CUConnect tutor and teach your expertise to children around you.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Convienience.</b> Teach in the comfort of your dorm without the hassle of travelling.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Choice.</b> Redeem your teaching hours for coupons from your favorite local businesses.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>No Paperwork.</b> Hate filling out time sheets and tax statements? Neither of that is a problem here.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img class="demopic" src="{{ url_for('static', filename='images/university_student_demo.png') }}" />
			</div>
		</div>

		<!-- Family demo -->
		<div class="demobg row" id="familyDemo" style="display: none">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="family">
					<p style = "font-size: 30px; margin:0px 20px 0px 20px; font-weight: bold">Seeking for knowledgeable, affordable tutors?</p>
					<p style = "font-size: 20px; margin:20px 20px 20px 20px;">Employ top university students to teach your children at affordable prices.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Accessible.</b> Have the UofI elite at your children\'s service for as low as 20% of tutor market prices.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Flexible.</b> Find tutors avaliable for a wide range of tutoring times and subjects specified by you.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Interaction.</b> Children will engage with their tutors online through our cutting-edge real-time canvas.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img class="demopic" src="{{ url_for('static', filename='images/primary_school_student.png') }}" />
			</div>
		</div>

		<!-- Business demo -->
		<div class="demobg row" id="businessDemo" style="display: none">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="business">
					<p style = "font-size: 30px; margin:0px 20px 0px 20px; font-weight: bold">Wanting to increase sales?</p>
					<p style = "font-size: 20px; margin:20px 20px 20px 20px;">Attract local students while having your discounts on coupons reimbursed.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Profitable.</b> Attract students to your business through coupons paid for by local families.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Charitable.</b> Improve your image through contributing to local education in a rewarding way.</p>
					<p><i class="fa fa-check fa-custom fa-2x"></i><b>Customization.</b> Create electronic custom coupons at a wide range of pricing levels.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img class="demopic" src="{{ url_for('static', filename='images/business.png') }}" />
			</div>
		</div>
	</div>

	<div class = "intro">
		<p class="text-center" style = "color:#F97300; font-size: 75px;">Our Partners</p>
		<div class="stack2">
		</div>
		<div class = "row">
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		</div>
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		<img src="{{ url_for('static', filename='images/walgreen.png') }}" class = "businesslogo">
		</div>
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		<img src="{{ url_for('static', filename='images/countymarket.png') }}" class = "businesslogo">
		</div>
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		<img src="{{ url_for('static', filename='images/pandaexpress.png') }}" class = "businesslogo">
		</div>
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		<img src="{{ url_for('static', filename='images/mcdonalds.png') }}" class = "businesslogo">
		</div>
		<div class="stack3 col-lg-2 col-md-2 col-sm-12">
		</div>
		</div>
		<div class="stack2">
		</div>
		<div class="row stack1">
		<div class="stack4 col-lg-2 col-md-2 col-sm-12">
		</div>
		<div class="stack4 col-lg-8 col-md-8 col-sm-12">
			<p style = "font-size: 30px; margin:20px 20px 20px 20px;">...And 100 university students and 100 families around you.</p>
			<button type = "button" class = "btn btn-secondary" style = "display: flex; margin: 0 auto; justify-content: center; font-size: 40px">Join us today</button>
			</div>
		</div>
		<div class="stack4 col-lg-2 col-md-2 col-sm-12">
		</div>
	</div>
{% endblock %}
