{% extends "base.html" %}

{% block content %}
<div class="row" style = "margin-right: 0px">
	<div class="mission" style="max-width:70%">
		<p class="text-center" style = "font-size: 40px">Redeem your teaching points for discounts and rewards provided by our partners:</p>
	</div>
</div>
<div class="row" style = "margin-right: 0px">
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
	<div class="stack1 col-lg-2 col-md-2 col-sm-12">
	<img src="{{ url_for('static', filename='images/countymarket.png') }}" class = "businesslogo">
	</div>
	<div class="stack1 col-lg-8 col-md-8 col-sm-12">
		<p style = "font-size: 20px; margin:20px 20px 20px 20px;"><i class="far fa-dot-circle"></i>&ensp; for <b>8 points</b> receive a $10 discount for any one-time purchase over 30$.</p>
		<p style = "font-size: 20px; margin:20px 20px 20px 20px;"><i class="far fa-dot-circle"></i>&ensp; for <b>20 points</b> get 50% off on any article priced below $50.</p>
	</div>
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
</div>
<div class="row"  style = "margin-right: 0px">
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
	<div class="stack1 col-lg-2 col-md-2 col-sm-12">
	<img src="{{ url_for('static', filename='images/pandaexpress.png') }}" class = "businesslogo">
	</div>
	<div class="stack1 col-lg-8 col-md-8 col-sm-12">
		<p style = "font-size: 20px; margin:20px 20px 20px 20px;"><i class="far fa-dot-circle"></i>&ensp; for <b>8 points</b> receive a free bottle of beer with your next meal.</p>
		<p style = "font-size: 20px; margin:20px 20px 20px 20px;"><i class="far fa-dot-circle"></i>&ensp; for <b>12 points</b> quadruple the contents of any dish you purchase.</p>
	</div>
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
</div>
<div class="row" style = "margin-right: 0px">
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
	<div class="stack1 col-lg-2 col-md-2 col-sm-12">
	<img src="{{ url_for('static', filename='images/walgreen.png') }}" class = "businesslogo">
	</div>
	<div class="stack1 col-lg-8 col-md-8 col-sm-12">
		<p style = "font-size: 20px; margin:20px 20px 20px 20px;"><i class="far fa-dot-circle"></i>&ensp; for <b>16 points</b> receive a $10 discount for any one-time purchase over 30$.</p>
	</div>
	<div class="stack1 col-lg-1 col-md-1 col-sm-12">
	</div>
</div>
<div class = "stack2">
</div>
{% endblock %}
